body{
    margin: 0;
    
     background-image: 
    url("https://content.dragonlearn.in/fp/97/fat_player/student/grad-f07e854ce64f9aee2db7bd67146ff0e4800feeed40c8f7116fcb3b6a048deb64.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#divBackground{
    position: absolute;
    z-index: -1;
    top : 0px;
    left: 0px;
    width: 100%;
    height: 120%;
    background-image: 
    url("https://content.dragonlearn.in/fp/97/fat_player/student/stuff-124d4f39a55f743d41ae005514723d90ae7e61faaf258f2187335151d10556b3.png"),
    url("https://content.dragonlearn.in/fp/97/fat_player/student/cell-9987ae00289f116cf6d1f23d1049820f01c1000c534cc1c39d9060882f80063d.png"),
    url("https://content.dragonlearn.in/fp/97/fat_player/student/color-e875c1aeb80984feaea35e9206d56248ed77eb16feede64477bc68b08df59e29.png");
}
#mainBig {
    background-color: white;
    width: 960px;
    height: 620px;
    margin-left: calc(100% / 2 - 480px);
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    position: absolute;
}
.header {
    height: 45px;
    border-bottom: 1px solid #cfcccc;
}
#bodyMain {
    display: none;
}
.button_back {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
    color:rgb(42, 90, 134);
    line-height: normal;
    font-weight: normal;
    text-transform: none;
    border: 0;
    padding: 0;
    margin-top: 10px;
    background-color: transparent;
    cursor: pointer;
    
}
.button_back:hover {
    color: #4ed0f5;
}
#chooseLanguage {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color:rgb(42, 90, 134);
    margin-top: -20px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    width: 100px;
}
#chooseLanguage:hover {
    color: #4ed0f5;
}
#chooseLanguage .triangle:hover {
    background-position: 130px 0px;
}
.border_head {
    border-top : 1px solid #7d7c7c;
    background-color: #e8e6e6 ;
    height: 25px;
    width: calc(100% / 2 - 10px );
    margin-left: calc(100% / 4 + 5px);
    margin-top: -24px;
    border-radius: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    opacity: 0.6;
}
.button_green {
    background-image: url("https://content.dragonlearn.in/fp/97/fat_player/components/progress/beads/v1/img/bead-874cc643b18fbe33aacee82d8f4353eec013afca7486232ce8e36adbbae9eeb6.png") ;
    background-repeat: no-repeat;
    height: 22px;
}
#micro_top {
    background-image: url("https://content.dragonlearn.in/fp/97/fat_player/players/player-1/src/speaker/assets/speaker-5ea19d9cdf5f069d106aec8a03b3faca0929b20a13b8b588a58efe79c8f11ae6.png");
    background-position: 0px 0px;
    width: 36px;
    height: 36px;
    margin-top: 18px;
    margin-left: 150px;
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
}   
#micro_top:hover {
    background-position: 0px 108px;
}
#micro_bottom {
    background-image: url("https://content.dragonlearn.in/fp/97/fat_player/players/player-1/src/speaker/assets/speaker-5ea19d9cdf5f069d106aec8a03b3faca0929b20a13b8b588a58efe79c8f11ae6.png");
    background-position: 0px 0px;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 490px;
    left: calc(50% - 10px);
    background-size: cover;
    border: none;
    background-color: transparent;
    display: none;
    z-index: 2;

}   
#micro_bottom:hover {
    background-position: 0px 108px;
}

#letter {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 18px;
    margin-left: 10px;
    font-size: 39px;
}
#coverletter{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 39px;
    position: absolute;
    top: 62px;
    left: calc(50% - 11px);
    opacity: 0;
}
#languageDialog {
    border: 1px solid #cfcccc;
    box-shadow: 0 0 5px #cfcccc;
    border-radius: 6px;
    width: 150px;
    height: 70px;
    margin-left: calc(50% + 305px);
    margin-top: 10px;
    background-color: white;
    display: none;
    position: absolute;

}
.Language {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
    color:black;
    cursor: pointer;
    width: 130px;
    height: 24px;
    padding-top: 4px;
    padding-left: 20px;
}
.Language:hover {
    background-color: #267fbf;
    color: white;
}
#next {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-top: -105px;
    margin-left: calc(50% - 47px);
    display: none;
    color: #64cee3;

}
#next:hover {
    color: #2fb8d4;
}
.button_next {
    background-image: url("https://content.dragonlearn.in/135475/1440/45.svg");
    background-position: 0px 0px;
    width: 31px;
    height: 31px;
    position: absolute;
    margin-top: -28px;
    margin-left: 60px;
    background-size: cover;
}
.button_next:hover {
    background-position: 0px 63px;
    cursor: pointer;
}
#button_start {
    background-image: url("https://content.dragonlearn.in/135475/1440/37.png");
    background-position: 0px 0px;
    width: 95px;
    height: 112px;
    background-size: cover;
    margin-top: -305px;
    margin-left: calc(50% - 22px);
    color:white;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 6;
    padding-left: 17px;
    z-index: 3;
    position: relative;
}
#cylinderBig {
    width: 330px;
    height: 330px;
    background: #f7f2f7;
    border-radius: 165px;
    margin-top: -220px;
    margin-left: calc(50% - 150px);
    filter: blur(1px);
    opacity: 0.7;
    z-index: 1;
    position: relative;
}
#cylinderSmall {
    width: 250px;
    height: 250px;
    background:#e80586;
    border-radius: 125px;
    margin-top: -290px;
    margin-left: calc(50% - 109px);
    filter: drop-shadow(0.01px);
    opacity: 0.1;
    z-index: 2;
    position: relative;
}
#start {
    cursor: pointer;
    margin-top: -390px;
    display: none;
}
#treeScreen1 {
    background-image: url("https://content.dragonlearn.in/135475/1440/49.png");
    margin-left: calc(100% /2 - 100px);
    margin-top: 30px;
    width: 160px;
    height: 320px;
    background-size: cover;
    filter: blur(5px);
}
.dottedScreen1 {
    background-image: url("https://content.dragonlearn.in/135475/1440/60.png");
    width: 160px;
    height: 40px;
    margin-top: -40px;
    background-size: cover;
    filter: blur(5px);
}
#giraffeScreen1{
    background-image: url("https://content.dragonlearn.in/135475/1440/48.png");
    width: 160px;
    height: 240px;
    position: absolute;
    top : 350px;
    left: calc(50% + 300px);
    z-index: 2;
    background-size: cover;
    pointer-events: none;
    filter: blur(5px);
    cursor: url("https://content.dragonlearn.in/fp/97/fat_player/cursors/openhand-080627fa359156339e79f118fa66a6937f09ff679fe87e8afa473b95c8168d35.cur"), auto;
}
#triangle {
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgb(42, 90, 134);
    margin-left: calc(100% - 25px);
    margin-top: -14px;
 }
#dottedScreen2 {
    background-image: url("https://content.dragonlearn.in/135475/1440/60.png");
    margin-left: calc(100% /2 - 100px);
    margin-top: 100px;
    width: 160px;
    height: 40px;
    background-size: cover;
    filter: none;
}
.treeScreen2 {
    background-image: url("https://content.dragonlearn.in/135475/1440/49.png");
    margin-top: -320px;
    width: 160px;
    height: 320px;
    background-size: cover;
    filter: none;
}
#giraffeScreen2 {
    background-image: url("https://content.dragonlearn.in/135475/1440/48.png");
    width: 160px;
    height: 240px;
    position: absolute;
    top : 350px;
    left: calc(50% + 280px);
    z-index: 2;
    background-size: cover;
    pointer-events: fill;
    filter: none;
    cursor: url("https://content.dragonlearn.in/fp/97/fat_player/cursors/openhand-080627fa359156339e79f118fa66a6937f09ff679fe87e8afa473b95c8168d35.cur"), auto;
}
#momScreen3 {
    background-image: url("https://content.dragonlearn.in/135475/1440/54.svg");
    margin-left: calc(100% /2 - 100px);
    margin-top: -160px;
    width: 160px;
    height: 320px;
    background-size: cover;
    filter: none;
}
.dottedScreen3 {
    background-image: url("https://content.dragonlearn.in/135475/1440/60.png");
    width: 160px;
    height: 40px;
    margin-top: -40px;
    background-size: cover;
    filter: none;
}
#childScreen3 {
    background-image: url("https://content.dragonlearn.in/135475/1440/55.svg");
    width: 120px;
    height: 200px;
    position: absolute;
    top : 350px;
    left: calc(50% + 300px);
    z-index: 2;
    background-size: cover;
    pointer-events: fill;
    filter: none;
    cursor: url("https://content.dragonlearn.in/fp/97/fat_player/cursors/openhand-080627fa359156339e79f118fa66a6937f09ff679fe87e8afa473b95c8168d35.cur"), auto;
}
#dottedScreen4 {
    background-image: url("https://content.dragonlearn.in/135475/1440/60.png");
    margin-left: calc(100% /2 - 100px);
    margin-top: -40px;
    width: 160px;
    height: 40px;
    background-size: cover;
    filter: none;
}
#momScreen4 {
    background-image: url("https://content.dragonlearn.in/135475/1440/54.svg");
    margin-top: -320px;
    width: 160px;
    height: 320px;
    background-size: cover;
    filter: none;
}
#papaScreen4 {
    background-image: url("https://content.dragonlearn.in/135475/1440/53.svg");
    margin-top: -160px;
    width: 160px;
    height: 320px;
    background-size: cover;
    filter: none;
}
#childScreen4 {
    background-image: url("https://content.dragonlearn.in/135475/1440/55.svg");
    width: 120px;
    height: 200px;
    position: absolute;
    top : 350px;
    left: calc(50% + 280px);
    z-index: 2;
    background-size: cover;
    pointer-events: fill;
    filter: none;
    cursor: url("https://content.dragonlearn.in/fp/97/fat_player/cursors/openhand-080627fa359156339e79f118fa66a6937f09ff679fe87e8afa473b95c8168d35.cur"), auto;
}