
.header1 {
    height: 140px;
}

.banner {
    height: 97px;
    background-image: url("../image/banner.svg");
    width: 100%;
    background-position: -100px center;
}

.headBar {
    height: 45px;
    width: 100%;
    background-color: #eeeeee;
}

.logo {
    font-family: 'Tahoma','Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 45px;
    margin-left: 255px;
    padding-top: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}

.headBar_choose {
    font-family: 'Lucida Sans Typewriter', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 45px;
    color: #727979;
    font-weight: bold;
}

.complete {
    padding: 30px;
}
.complete-text {
    font-size: 32px;
    line-height: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 40px;
    color: #000000;
}
.complete-image {
    height: 290px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../image/complete.png");
}
.complete-button {
    text-align: center;
}
.complete-button a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 29px;
    text-decoration: none;
    background: #66c3e6;
    color: white;
    display: inline-block;
    padding: 12px 20px 8px;
    border-radius: 7px;
    }