body{
    margin: 0;
    background-image: 
    url("../image/background-image.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 2285px;
}
#divBackground{
    position: absolute;
    z-index: -1;
    top : 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: 
    url("../image/stuff.png"),
    url("../image/cell.png"),
    url("../image/color.png");
    
}
#mainBig {
    position: absolute;
    background-color: white;
    width: 960px;
    height: 620px;
    margin-left: calc(100% / 2 - 480px); 
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.header {
    height: 45px;
    border-bottom: 1px solid #cfcccc;
}
#bodyMain {
    display: none;
}
.button_back {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0;
    color:rgb(42, 90, 134);
    line-height: normal;
    font-weight: normal;
    text-transform: none;
    border: 0;
    padding: 0;
    margin-top: 10px;
    background-color: transparent;
    cursor: pointer;
    
}
.button_back:hover {
    color: #4ed0f5;
}
#chooseLanguage {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color:rgb(42, 90, 134);
    position: absolute;
    top: 10px;
    left: 850px;
    cursor: pointer;
    width: 100px;
}
#chooseLanguage:hover {
    color: #4ed0f5;
}
#chooseLanguage .triangle:hover {
    background-position: 130px 0px;
}
.border_head {
    border-top : 1px solid #7d7c7c;
    background-color: #e8e6e6 ;
    height: 25px;
    width: calc(100% / 2 - 10px );
    margin-left: calc(100% / 4 + 5px);
    margin-top: -24px;
    border-radius: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    opacity: 0.6;
}
.button_green {
    background-image: url("../image/bead.png") ;
    background-repeat: no-repeat;
    height: 22px;
}
#micro_top {
    background-image: url("../image/speaker.png");
    background-position: 0px 0px;
    width: 36px;
    height: 36px;
    margin-top: 18px;
    margin-left: 150px;
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
}   
#micro_top:hover {
    background-position: 0px 108px;
}
#micro_bottom {
    background-image: url("../image/speaker.png");
    background-position: 0px 0px;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 490px;
    left: calc(50% - 10px);
    background-size: cover;
    border: none;
    background-color: transparent;
    display: none;
    z-index: 2;

}   
#micro_bottom:hover {
    background-position: 0px 108px;
}

#letter {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 18px;
    margin-left: 10px;
    font-size: 39px;
}
#coverletter{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 39px;
    position: absolute;
    top: 62px;
    left: calc(50% - 11px);
    opacity: 0;
    z-index: 3;
}
#languageDialog {
    border: 1px solid #cfcccc;
    box-shadow: 0 0 5px #cfcccc;
    border-radius: 6px;
    width: 150px;
    height: 95px;
    margin-left: calc(50% + 305px);
    margin-top: 10px;
    background-color: white;
    display: none;
    position: absolute;

}
.Language {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19px;
    color:black;
    cursor: pointer;
    width: 130px;
    height: 24px;
    padding-top: 4px;
    padding-left: 20px;
}
.Language:hover {
    background-color: #267fbf;
    color: white;
}
#next-lt {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    position: absolute;
    top: 555px;
    left: calc(50% - 47px);
    color: #64cee3;
    display: none;
    cursor: pointer;
}
#next-lt:hover {
    color: #2fb8d4;
}
#button_next {
    background-image: url("../image/button-next.svg");
    background-position: 0px 0px;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 555px;
    left: 490px;
    background-size: cover;
    display: none;
    cursor: pointer;
}
#button_next:hover {
    background-position: 0px 63px;
}
#button_start {
    background-image: url("../image/start.png");
    background-position: 0px 0px;
    width: 95px;
    height: 112px;
    background-size: cover;
    margin-top: -305px;
    margin-left: calc(50% - 22px);
    color:white;
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 6;
    padding-left: 17px;
    z-index: 3;
    position: relative;
}
#cylinderBig {
    width: 330px;
    height: 330px;
    background: #f7f2f7;
    border-radius: 165px;
    margin-top: -220px;
    margin-left: calc(50% - 150px);
    filter: blur(1px);
    opacity: 0.7;
    z-index: 1;
    position: relative;
}
#cylinderSmall {
    width: 250px;
    height: 250px;
    background:#e80586;
    border-radius: 125px;
    margin-top: -290px;
    margin-left: calc(50% - 109px);
    filter: drop-shadow(0.01px);
    opacity: 0.1;
    z-index: 2;
    position: relative;
}
#start {
    cursor: pointer;
    position: absolute;
    top: 579px;
    left: 300px;
    display: none;
}

#triangle {
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgb(42, 90, 134);
    margin-left: calc(100% - 25px);
    margin-top: -14px;
 }
